* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-image: url(../assets/img/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  justify-content: center;
  align-items: center;
}
header .gridheader {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  place-items: center;
  align-items: center;
}
header .logo {
  display: flex;
  align-items: center;
  width: 150px;
  transition: transform 0.4s;
}
header .logo:hover {
  transform: rotate(360deg);
}
header #ingresar {
  display: inline-flex;
  width: 135px;
  height: 35px;
  color: cornflowerblue;
  background-color: black;
  font-family: sans-serif;
  border-radius: 15%;
  align-items: center;
  cursor: pointer;
  justify-items: center;
  font-size: 13px;
}
header #ingresar a:hover {
  color: black;
  background-color: cornflowerblue;
}
header a {
  text-decoration: none;
  color: cornflowerblue;
}

nav ul {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}
nav li {
  float: left;
  list-style-type: none;
}
nav li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
nav li a:hover {
  background-color: cadetblue;
}

.custom-bg {
  display: flex;
  color: white;
  background-color: black;
  border-radius: 10%;
  justify-items: center;
  place-items: center;
  align-items: center;
  width: 430px;
  height: auto;
  font-weight: bold;
  padding: 20px;
  margin: 5px 0;
}

.custom-bg h4 {
  color: cornflowerblue;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 10px;
  place-items: center;
  align-items: center;
  max-width: 100%;
  height: 67px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
footer .redes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  padding-left: 50%;
}
footer .tel {
  display: flex;
  align-items: center;
}
footer .tel p {
  margin: 0;
  padding: 0;
}
footer .mapa p {
  margin: 0;
  padding: 0;
}
footer .mapa {
  display: flex;
  align-items: center;
  padding: 0;
}

main {
  background-image: url(../assets/img/fondopesasrusas.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: center;
}

.gridmain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.gridmain .cards {
  padding: 20px;
  color: white;
  background-color: black;
  width: 450px;
  height: 300px;
  border-radius: 10%;
  font-size: 25px;
  font-family: sans-serif;
}
.gridmain .superpuesta {
  width: 200px;
  height: auto;
  transition: transform 0.4s;
}
.gridmain .superpuesta:hover {
  transform: scale(1.1);
}
.gridmain .mujer {
  width: 200px;
  height: auto;
  border-radius: 12%;
  transition: transform 0.4s;
}
.gridmain .mujer:hover {
  transform: scale(1.1);
}
.gridmain .muj {
  width: 200px;
  height: 300px;
  border-radius: 12%;
}
.gridmain .pelota {
  width: 200px;
  height: auto;
  border-radius: 12%;
}

.instalaciones {
  display: grid;
  color: white;
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
  align-items: center;
  background: rgb(0, 0, 3);
  background: linear-gradient(0deg, rgb(0, 0, 3) 0%, rgb(20, 45, 68) 86%);
}

.gym {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.gym .img {
  width: 200px;
  height: 300px;
  border-radius: 12%;
  transition: transform 0.4s;
}
.gym .img:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 32px;
  color: cornflowerblue;
  text-align: center;
}

.grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.grids .agustin {
  top: 4%;
  left: 10%;
  width: 400px;
  height: 500px;
}
.grids .cardagustin, .grids .cardmatias, .grids .cardpatricia {
  text-align: center;
  color: white;
  background-color: black;
  width: 220px;
  height: 450px;
  border-radius: 10%;
  font-family: sans-serif;
  padding: 10px;
}
.grids .cardagustin h2, .grids .cardmatias h2, .grids .cardpatricia h2 {
  font-size: 32px;
  color: cornflowerblue;
}
.grids .patricia {
  top: 4%;
  left: 10%;
  width: 400px;
  height: 500px;
}
.grids .cardpatricia h2 {
  font-size: 32px;
  color: cornflowerblue;
}
.grids .matias {
  top: 4%;
  left: 10%;
  width: 400px;
  height: 500px;
}
.grids .cardmatias h2 {
  font-size: 32px;
  color: cornflowerblue;
}

.contenedorprograma {
  display: flex;
  padding: 29px;
  justify-content: space-evenly;
}
.contenedorprograma .start {
  width: 400px;
  height: 300px;
}
.contenedorprograma .cardstart, .contenedorprograma .cardadvanced, .contenedorprograma .cardfitness, .contenedorprograma .cardfuncional {
  text-align: center;
  color: white;
  background-color: black;
  width: 200px;
  height: 300px;
  border-radius: 10%;
  font-family: sans-serif;
}
.contenedorprograma .cardstart h2, .contenedorprograma .cardadvanced h2, .contenedorprograma .cardfitness h2, .contenedorprograma .cardfuncional h2 {
  font-size: 26px;
  color: white;
}
.contenedorprograma .funcional {
  width: 400px;
  height: 300px;
}
.contenedorprograma .cardfuncional h2 {
  font-size: 26px;
  color: palevioletred;
}
.contenedorprograma .fitness {
  width: 400px;
  height: 300px;
}
.contenedorprograma .cardfitness h2 {
  font-size: 26px;
  color: blueviolet;
}
.contenedorprograma .advanced {
  width: 400px;
  height: 300px;
}
.contenedorprograma .cardadvanced h2 {
  font-size: 26px;
  color: brown;
}

.gridmainnov {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  place-items: center;
  align-items: center;
  padding: 41px;
}
.gridmainnov .estiramiento {
  width: 450px;
  height: auto;
}
.gridmainnov .cardsestirar {
  text-align: center;
  color: white;
  background-color: black;
  width: 600px;
  height: 265px;
  border-radius: 10%;
  font-family: sans-serif;
  font-size: large;
  padding: 10px;
}
.gridmainnov .cardsestirar h2 {
  font-size: 28px;
  color: cornflowerblue;
}

.contenedor {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.gridmainnut {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  place-items: center;
  align-items: center;
  padding: 30px;
}

.cardsnutricion {
  text-align: center;
  color: white;
  background-color: black;
  width: 600px;
  height: auto;
  border-radius: 10%;
  font-size: 22px;
  font-family: sans-serif;
  padding: 10px;
}

.cardsnutricion h2 {
  font-size: 32px;
  color: cornflowerblue;
}

.formulario {
  border-radius: 7%;
  height: 290px;
  margin: 20px;
}

.info {
  margin-top: 15px;
}

.datos {
  margin-top: 21px;
}

@media (max-width: 1024px) {
  header .menu li a {
    font-size: 11px;
  }
  header .logo {
    width: 120px;
  }
  header #ingresar {
    width: 110px;
    height: 40px;
    font-size: 10px;
  }
  .gridmain .superpuesta {
    width: 130px;
    height: auto;
  }
  .gridmain .mujer {
    width: 130px;
    height: auto;
    border-radius: 12%;
  }
  .gridmain .muj {
    width: 130px;
    height: 300px;
    border-radius: 12%;
  }
  .gridmain .pelota {
    width: 100px;
    height: auto;
    border-radius: 12%;
  }
  .gridmain .cards {
    text-align: center;
    width: 300px;
    height: auto;
    font-size: 15px;
  }
  .gridmain .cards h1 {
    font-size: 24px;
  }
  .instalaciones {
    font-size: 29px;
  }
  .gym .img {
    width: 130px;
    height: 200px;
    border-radius: 12%;
  }
  .gridmainnov .estiramiento {
    width: 330px;
    height: auto;
  }
  .gridmainnov .cardsestirar {
    text-align: center;
    color: white;
    background-color: black;
    width: 330px;
    height: auto;
    border-radius: 10%;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px;
  }
  .gridmainnov .cardsestirar h2 {
    font-size: 28px;
    color: cornflowerblue;
  }
  .contenedorprograma .cardfuncional {
    width: 160px;
    height: 270px;
    border-radius: 10%;
    font-size: 13px;
  }
  .contenedorprograma .cardstart, .contenedorprograma .cardfuncional, .contenedorprograma .cardfitness, .contenedorprograma .cardadvanced {
    width: 160px;
    height: 270px;
    border-radius: 10%;
    font-size: 13px;
  }
  .contenedorprograma .cardfitness {
    width: 160px;
    height: 270px;
    border-radius: 10%;
    font-size: 13px;
  }
  .contenedorprograma .cardadvanced {
    width: 160px;
    height: 270px;
    border-radius: 10%;
    font-size: 13px;
  }
  .cardsnutricion {
    width: 350px;
    font-size: 20px;
  }
  .cardsnutricion h2 {
    font-size: 22px;
    color: cornflowerblue;
  }
  .custom-bg {
    display: flex;
    width: 360px;
    height: auto;
    font-weight: bold;
    padding: 10px;
    margin: 5px 0;
  }
}
@media (max-width: 800px) {
  header .menu li a {
    font-size: 11px;
    padding: 6px;
  }
  header .gridheader {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
  }
  header .logo {
    width: 90px;
  }
  header #ingresar {
    width: 100px;
    height: 40px;
    font-size: 11px;
  }
  .gridmain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .gridmain .superpuesta {
    width: 100px;
    height: auto;
  }
  .gridmain .mujer {
    width: 100px;
    height: auto;
    border-radius: 12%;
  }
  .gridmain .muj {
    width: 100px;
    height: 300px;
    border-radius: 12%;
  }
  .gridmain .pelota {
    width: 100px;
    height: auto;
    border-radius: 12%;
  }
  .gridmain .cards {
    text-align: center;
    width: 280px;
    height: auto;
    font-size: 12px;
  }
  .gridmain .cards h1 {
    font-size: 21px;
  }
  .gridmain .img {
    width: 120px;
    height: 200px;
    border-radius: 12%;
  }
  .instalaciones {
    font-size: 16px;
    height: 40px;
  }
  .contenedorprograma .cardfuncional {
    width: 130px;
    height: 230px;
    border-radius: 10%;
    font-size: 11px;
  }
  .contenedorprograma .cardfuncional h2 {
    font-size: 20px;
  }
  .contenedorprograma .cardstart, .contenedorprograma .cardfuncional, .contenedorprograma .cardfitness, .contenedorprograma .cardadvanced {
    width: 130px;
    height: 230px;
    border-radius: 10%;
    font-size: 11px;
  }
  .contenedorprograma .cardstart h2, .contenedorprograma .cardfuncional h2, .contenedorprograma .cardfitness h2, .contenedorprograma .cardadvanced h2 {
    font-size: 20px;
  }
  .contenedorprograma .cardfitness {
    width: 130px;
    height: 230px;
    border-radius: 10%;
    font-size: 11px;
  }
  .contenedorprograma .cardfitness h2 {
    font-size: 20px;
  }
  .contenedorprograma .cardadvanced {
    width: 130px;
    height: 230px;
    border-radius: 10%;
    font-size: 11px;
  }
  .contenedorprograma .cardadvanced h2 {
    font-size: 20px;
  }
  .grid .cardagustin, .grid .grids .cardpatricia, .grids .grid .cardpatricia, .grid .grids .cardmatias, .grids .grid .cardmatias {
    width: 180px;
    height: auto;
    font-size: 14px;
  }
  .grid .cardagustin h2, .grid .grids .cardpatricia h2, .grids .grid .cardpatricia h2, .grid .grids .cardmatias h2, .grids .grid .cardmatias h2 {
    font-size: 18px;
    color: cornflowerblue;
  }
  .grid .cardpatricia {
    width: 180px;
    height: auto;
    font-size: 14px;
  }
  .grid .cardpatricia h2 {
    font-size: 18px;
    color: cornflowerblue;
  }
  .grid .cardmatias {
    width: 180px;
    height: auto;
    font-size: 14px;
  }
  .grid .cardmatias h2 {
    font-size: 18px;
    color: cornflowerblue;
  }
  .grid .cardsnutricion {
    width: 350px;
    font-size: 17px;
  }
  .custom-bg {
    display: flex;
    width: 300px;
    height: auto;
    font-weight: bold;
    padding: 10px;
    margin: 5px 0;
    font-size: 12px;
  }
  .gridmainnov .cardsestirar {
    text-align: center;
    color: white;
    background-color: black;
    width: 300px;
    height: auto;
    border-radius: 10%;
    font-family: sans-serif;
    font-size: mediup;
    padding: 10px;
  }
  .gridmainnov .cardsestirar h2 {
    font-size: 20px;
    color: cornflowerblue;
  }
  .gridmainnov .estiramiento {
    width: 310px;
    height: auto;
  }
}
@media (max-width: 425px) {
  .header {
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
  }
  .menu li a {
    display: flex;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 13px;
  }
  .menu {
    display: flex;
    padding: 10px 3px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2px 0;
  }
  .gridheader {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
  .logo {
    width: 90px;
  }
  #ingresar {
    display: grid;
    width: 85px;
    height: 35px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
  }
  .grids {
    gap: 20px;
  }
  .grids .cardmatias {
    width: 280px;
    height: auto;
    font-size: 14px;
  }
  .grids .cardagustin, .grids .cardpatricia, .grids .cardmatias {
    width: 280px;
    height: auto;
    font-size: 14px;
  }
  .grids .cardpatricia {
    width: 280px;
    height: auto;
    font-size: 14px;
  }
  .gridmain {
    flex-direction: column;
  }
  .superpuesta {
    flex-direction: column;
    width: 110px;
    height: auto;
  }
  .cards {
    flex-direction: column;
    width: 180px;
    height: auto;
    font-size: 11px;
  }
  main {
    flex-direction: column;
  }
  .gridmainnut {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
  }
  .cardsnutricion {
    width: 280px;
    font-size: 15px;
  }
  .cardsnutricion h2 {
    font-size: 32px;
    color: cornflowerblue;
  }
  .fondonutricion {
    width: 280px;
    height: auto;
    font-size: 13px;
  }
  .custom-bg {
    width: 300px;
    height: auto;
    font-weight: bold;
    font-size: 10px;
  }
  .contenedor {
    display: flex;
    padding: 40px;
  }
  .gridmainnov {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  .estiramiento {
    width: 280px;
    height: auto;
  }
  .cardsestirar {
    width: 280px;
    height: auto;
    font-size: 15px;
  }
  .cardsestirar h2 {
    font-size: 28px;
    color: cornflowerblue;
  }
  footer {
    font-size: small;
  }
  footer .redes {
    padding-left: 10px;
  }
  .grids {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gridmain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
  }
  .gridmain .superpuesta {
    width: 250px;
    height: auto;
  }
  .gridmain .cards {
    width: 300px;
    height: auto;
    border-radius: 10%;
    font-size: 20px;
    font-family: sans-serif;
  }
  .gridmain .mujer {
    width: 250px;
    height: 350px;
  }
  .gym {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr1fr;
    justify-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
  }
  .gym .img {
    padding: 13px;
    width: 250px;
    height: 350px;
  }
  .instalaciones {
    font-size: 20px;
    color: cornflowerblue;
  }
  .contenedorprograma {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .contenedorprograma .cardstart, .contenedorprograma .cardfuncional, .contenedorprograma .cardfitness, .contenedorprograma .cardadvanced {
    width: 280px;
    height: auto;
    padding: 10px;
  }
  .contenedorprograma .cardfuncional {
    width: 280px;
    height: auto;
    padding: 10px;
  }
  .contenedorprograma .cardfitness {
    width: 280px;
    height: auto;
    padding: 10px;
  }
  .contenedorprograma .cardadvanced {
    width: 280px;
    height: auto;
    padding: 10px;
  }
  .contenedorprograma .cardstart h2, .contenedorprograma .cardfuncional h2, .contenedorprograma .cardfitness h2, .contenedorprograma .cardadvanced h2 {
    font-size: 20px;
  }
  .contenedorprograma .cardfuncional h2 {
    font-size: 20px;
  }
  .contenedorprograma .cardfitness h2 {
    font-size: 20px;
  }
  .contenedorprograma .cardadvanced h2 {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .header {
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
  }
  .menu li a {
    display: flex;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 13px;
  }
  .menu {
    display: flex;
    padding: 10px 3px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2px 0;
  }
  .gridheader {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
  .logo {
    width: 90px;
  }
  #ingresar {
    display: grid;
    width: 85px;
    height: 35px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
  }
  .grids {
    gap: 20px;
  }
  .grids .cardmatias {
    width: 280px;
    height: auto;
    font-size: 14px;
  }
  .grids .cardagustin, .grids .cardpatricia, .grids .cardmatias {
    width: 280px;
    height: auto;
    font-size: 14px;
  }
  .grids .cardpatricia {
    width: 280px;
    height: auto;
    font-size: 14px;
  }
  .gridmain {
    flex-direction: column;
  }
  .superpuesta {
    flex-direction: column;
    width: 110px;
    height: auto;
  }
  .cards {
    flex-direction: column;
    width: 180px;
    height: auto;
    font-size: 11px;
  }
  main {
    flex-direction: column;
  }
  .gridmainnut {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
  }
  .cardsnutricion {
    width: 280px;
    font-size: 15px;
  }
  .cardsnutricion h2 {
    font-size: 32px;
    color: cornflowerblue;
  }
  .fondonutricion {
    width: 280px;
    height: auto;
    font-size: 13px;
  }
  .custom-bg {
    width: 300px;
    height: auto;
    font-weight: bold;
    font-size: 10px;
  }
  .contenedor {
    display: flex;
    padding: 40px;
  }
  .gridmainnov {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  .gridmainnov .estiramiento {
    width: 280px;
    height: auto;
  }
  .gridmainnov .cardsestirar {
    width: 240px;
    height: auto;
    font-size: 15px;
  }
  .gridmainnov .cardsestirar h2 {
    font-size: 28px;
    color: cornflowerblue;
  }
  footer {
    font-size: small;
  }
  footer .redes {
    padding-left: 10px;
  }
  .grids {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gridmain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
  }
  .gridmain .superpuesta {
    width: 250px;
    height: auto;
  }
  .gridmain .cards {
    width: 300px;
    height: auto;
    border-radius: 10%;
    font-size: 20px;
    font-family: sans-serif;
  }
  .gridmain .mujer {
    width: 250px;
    height: 350px;
  }
  .gym {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr1fr;
    justify-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
  }
  .gym .img {
    padding: 13px;
    width: 250px;
    height: 350px;
  }
  .instalaciones {
    font-size: 20px;
    color: cornflowerblue;
  }
  .contenedorprograma {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .contenedorprograma .cardstart, .contenedorprograma .cardfuncional, .contenedorprograma .cardfitness, .contenedorprograma .cardadvanced {
    width: 280px;
    height: auto;
    padding: 10px;
  }
  .contenedorprograma .cardfuncional {
    width: 280px;
    height: auto;
    padding: 10px;
  }
  .contenedorprograma .cardfitness {
    width: 280px;
    height: auto;
    padding: 10px;
  }
  .contenedorprograma .cardadvanced {
    width: 280px;
    height: auto;
    padding: 10px;
  }
  .contenedorprograma .cardstart h2, .contenedorprograma .cardfuncional h2, .contenedorprograma .cardfitness h2, .contenedorprograma .cardadvanced h2 {
    font-size: 20px;
  }
  .contenedorprograma .cardfuncional h2 {
    font-size: 20px;
  }
  .contenedorprograma .cardfitness h2 {
    font-size: 20px;
  }
  .contenedorprograma .cardadvanced h2 {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
