@media (max-width: 1024px) {
    .menu li a {
        font-size: 11px;

    }

    .logo {
        width: 110px;
    }

    #ingresar {
        width: 120px;
        height: 40px;
        font-size: 11px;

    }
    .gridmain {
    .superpuesta {
        width: 130px;
        height: auto;
    }
    
    .mujer {
        width:130px;
        height: auto;
        border-radius: 12%;
    }
    
    .muj {
        width: 130px;
        height: 300px;
        border-radius: 12%;
    }
    
    .pelota {
        width: 100px;
        height: auto;
        border-radius: 12%;
    }

    .cards {
        text-align: center;
        width: 300px;
        height: auto;
        font-size: 15px;

    }
    .cards h1{
        font-size: 24px;

    }
 .gridmainnov {
    @include grid (4fr 5fr,1fr,center);
    place-items: center;
    align-items: center;
    padding: 41px;
.estiramiento {
    width: 450px;
    height: auto;
}

.cardsestirar {
    text-align: center;
    color: white;
    background-color: black;
    width: 600px;
    height: 265px;
    border-radius: 10%;
    font-family: sans-serif;
    font-size: large;
    padding: 10px;
}

.cardsestirar h2 {
    font-size: 28px;
    color: cornflowerblue;
}
}
}
    .img {
        width: 140px;
        height: 200px;
        border-radius: 12%;
    }
    .instalaciones {
        font-size: 29px;

    }

    .contenedorprograma {
    .cardfuncional {

        width: 160px;
        height: 270px;
        border-radius: 10%;
        font-size: 13px;
    }


    .cardstart {
        width: 160px;
        height: 270px;
        border-radius: 10%;
        font-size: 13px;
    }

    .cardfitness {

        width: 160px;
        height: 270px;
        border-radius: 10%;
        font-size: 13px
    }

    .cardadvanced {
        width: 160px;
        height: 270px;
        border-radius: 10%;
        font-size: 13px
    }
}
    .cardsnutricion {
        width: 390px;
        font-size: 20px;
    }

    .cardsnutricion h2 {
        font-size: 22px;
        color: cornflowerblue;
    }
    .custom-bg {
        display: flex;
       width: 360px;
       height: auto;
       font-weight: bold;
       padding: 10px;
       margin: 5px 0;
    }


}