header {
    display: flex;
    background-image: url(../assets/img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    justify-content: center;
    align-items: center;
    .gridheader {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        place-items: center;
        align-items: center;
    }
    .logo {
        display: flex;
        align-items: center;
        width: 150px;
        transition: transform 0.4s;
    }
    .logo:hover {
        transform: rotate(360deg)
    }
    
    #ingresar {
        display: inline-flex;
        width: 135px;
        height: 35px;
        color: cornflowerblue;
        background-color: black;
        font-family: sans-serif;
        border-radius: 15%;
        align-items: center;
        cursor: pointer;
        justify-items: center;
        font-size: 13px;
    }
    
    #ingresar a:hover {
        color: black;
        background-color: cornflowerblue;
    }
    a {
        text-decoration: none;
        color: cornflowerblue;
    }
}
nav {
     ul {
        display: flex;
        list-style-type: none;
        overflow: hidden;
        text-align: center;
        justify-content: center;
    }
    
    li {
        float: left;
        list-style-type: none;
    }
    
     li a {
        display: flex;
        color: white;
        text-align: center;
        padding : 14px 16px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    
     li a:hover {
        background-color: cadetblue;
    }
    
}