.contenedorprograma {
    @include flex;

    .start {
        width: 400px;
        height: 300px;
    }

    .cardstart {

        text-align: center;
        color: white;
        background-color: black;
        width: 200px;
        height: 300px;
        border-radius: 10%;
        font-family: $font-family-cardsprograma;
    }

    .cardstart h2 {
        font-size: $font-siza-cardsprograma;
        color: white;
    }

    .funcional {

        width: 400px;
        height: 300px;
    }

    .cardfuncional {
        @extend .cardstart
    }

    .cardfuncional h2 {
        font-size: $font-siza-cardsprograma;
        color: palevioletred;
    }

    .fitness {
        width: 400px;
        height: 300px;
    }

    .cardfitness {
        @extend .cardstart
    }

    .cardfitness h2 {
        font-size: $font-siza-cardsprograma;
        color: blueviolet;
    }

    .advanced {
        width: 400px;
        height: 300px;
    }

    .cardadvanced {
        @extend .cardstart
    }

    .cardadvanced h2 {
        font-size: $font-siza-cardsprograma;
        color: brown;
    }

}