main {
    background-image: url(../assets/img/fondopesasrusas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center;
}
.gridmain {
    @include grid (1fr 1fr 1fr 2fr,1fr,center);
    padding-top: 02%;
    padding-bottom: 02%;
    .cards {
        padding: 20px;
    color: white;
    background-color: black;
    width: 450px;
    height: 300px;
    border-radius: 10%;
    font-size: 25px;
    font-family: sans-serif
    }
    .superpuesta {
        width: $width-imagenesindex;
        height: auto;
        transition: transform 0.4s;
    }
    
    .superpuesta:hover {
        transform: scale(1.1)
    }
    
    .mujer {
        width: $width-imagenesindex;
        height: auto;
        border-radius: $border-radius-imagenesindex;
        transition: transform 0.4s;
    }
    
    .mujer:hover {
        transform: scale(1.1);
    }
    
    .muj {
        width: $width-imagenesindex;
        height: $height-imagenesindex;
        border-radius: $border-radius-imagenesindex;
    }
    
    .pelota {
        width: $width-imagenesindex;
        height: auto;
        border-radius: $border-radius-imagenesindex;
    }
    
    }

.instalaciones {
    display: grid;
    color: white;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
    align-items: center;
background: rgb(0,0,3);
background: linear-gradient(0deg, rgba(0,0,3,1) 0%, rgba(20,45,68,1) 86%);
}


    .gym {
        @include grid (1fr 1fr 1fr 1fr 1fr,1fr,center);
        padding-top: 02%;
        padding-bottom: 02%;
    
    }
    
   
    .img {
        width: $width-imagenesindex;
        height: $height-imagenesindex;
        border-radius: $border-radius-imagenesindex;
        transition: transform 0.4s;
    }
    .img:hover {
        transform: scale(1.1);
    }
    
    h1 {
        font-size: 32px;
    color: cornflowerblue;
    text-align: center;
    }
